global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
{% for item in haproxy_global %}
    {{ item }}
{% endfor %}

defaults
{% for item in haproxy_defaults %}
    {{ item }}
{% endfor %}

{% if enable_haproxy_admin_page %}
userlist STATSUSERS
    group admin users admin
    user {{ haproxy_admin_user }} insecure-password {{ haproxy_admin_password }}

listen stats
    bind *:{{ haproxy_admin_port }}
    mode http
    stats enable
    stats refresh 60s
    stats uri /
    acl AuthOkay_ReadOnly http_auth(STATSUSERS)
    acl AuthOkay_Admin http_auth_group(STATSUSERS) admin
    stats http-request auth realm stats unless AuthOkay_ReadOnly
{% endif %}

{% if haproxy_configs is defined and haproxy_configs != 'None' %}
{%   for item in haproxy_configs %}
{%     if item.enabled %}
frontend {{ item.name }}
{%       if item.mode is defined %}
    mode {{ item.mode }}
{%       endif %}
{%       for port in item.bind_ports %}
    bind *:{{ port }}
{%       endfor %}

{%       for service in item.services %}
{%         if service.acl %}
    acl {{ service.acl_name_prefix }}_ path_beg {{ service.path_beg }}
    use_backend {{ item.name }}-be if {{ service.acl_name }}
{%         endif %}
{%       endfor %}

{%     endif %}
{%   endfor %}
{%   for item in haproxy_configs %}
{%     if item.enabled %}
{%       for service in item.services %}
backend {{ item.name }}-be
{%         if item.mode is defined %}
    mode {{ item.mode }}
{%         endif %}
{%         if item.options is defined %}
{%           for option in item.options %}
    option {{ option }}
{%           endfor %}
{%         endif %}
    server {{ item.name }} {{ item.name }}:{{ service.backend_service_port }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
