global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
{% for item in haproxy_global %}
  {{ item }}
{% endfor %}

defaults
{% for item in haproxy_defaults %}
  {{ item }}
{% endfor %}

{% if enable_haproxy_admin_page %}
userlist STATSUSERS
  group admin users admin
  user {{ haproxy_admin_user }} insecure-password {{ haproxy_admin_password }}

listen stats
  bind *:{{ haproxy_admin_port }}
  mode http
  stats enable
  stats refresh 60s
  stats uri /
  acl AuthOkay_ReadOnly http_auth(STATSUSERS)
  acl AuthOkay_Admin http_auth_group(STATSUSERS) admin
  stats http-request auth realm stats unless AuthOkay_ReadOnly
{% endif %}

{% if haproxy_configs is defined and haproxy_configs != 'None' %}
{%   for item in haproxy_configs %}
{%     if item.enabled %}
frontend {{ item.name }}
{%       if item.mode is defined %}
  mode {{ item.mode }}
{%       endif %}
{%       for port in item.bind_ports %}
  bind *:{{ port }}
{%       endfor %}

{%       for service in item.services %}
  use_backend {{ service.name }}-be
{%       endfor %}

{%     endif %}
{%   endfor %}
{%   for item in haproxy_configs %}
{%     if item.enabled %}
{%       for service in item.services %}
backend {{ service.name }}-be
{%         if item.options is defined %}
{%           for option in item.options %}
  option {{ option }}
{%           endfor %}
{%         endif %}
{%         if item.mode is defined %}
  mode {{ item.mode }}
{%         endif %}
  server {{ service.name }} {{ service.name }}:{{ service.backend_service_port }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
